.menu li{
	display: block;
	text-decoration: none;
	border: 3px solid #cc00ff;
	border-style: groove;
	padding: 9px;
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
}
.menu ul{
	text-decoration: none;
}
.menu li a:hover{
  	display:block;
	color: 	#000000;
	background-color: #04ff00;
}
.menu .is-current{
	background-color: #000000;
}