.menu li{
	display: inline-block;
	text-decoration: none;
	border: 3px solid #ff0019;
	border-style: outset;
	padding: 2px;
	background-color: #FFFFFF;
	color: #000000;
}
.menu ul{
	text-decoration: none;
}
.menu li a:hover{
	display: block;
	color: 	#ffffff;
	background-color: #ff0019;
}
.menu .is-current{
	background-color: #000000;
}